#pageHeader {
  background: #000000 !important;
  background: -webkit-linear-gradient(#444444, #000000) !important;
  background: -o-linear-gradient(#444444, #000000) !important;
  background: -moz-linear-gradient(#444444, #000000) !important;
  background: linear-gradient(#444444, #000000) !important;
}

#fetchGreeting, #fetchGreetingAndLinks a, #fetchLinksBar ul li {
    color: #fff !important;
}

#fetchLinksBar ul li {
    border-left: none !important;
}

#fetchLogoBar {
    background: transparent !important;
}

#secondNavBar {
    height: 13px !important;
    min-height: inherit !important;
}

#content {
    /*padding: 0 !important;*/
}

#training_add .fegroup {
    margin-bottom: 0 !important;
}


td.sessiontype {
    background-color: #efefef !important;
}

.notes {
    text-align: left !important;
    padding-left: 1% !important;
}

#training_list .training_entry img {
  width: 16px !important;
}

#training_list tr td {
  padding: 1% !important;
}

#training_list tr td:nth-of-type(1), #training_list tr td:nth-of-type(2) {
    width: auto !important;
    white-space: nowrap !important;
}

#training_list .row_highlighted, #training_list tr.row_highlighted td.sessiontype {
    background-color: #ff0 !important;
}

#training_list tr.categoryB td.sessiontype {
    background-position: -161px center !important;
}

#training_list tr.categoryC td.sessiontype {
    background-position: -2px center !important;
}

#training_list tr.categoryR td.sessiontype {
    background-position: -82px center !important;
}

#training_list tr.categoryS td.sessiontype {
    background-position: -403px center !important;
}

i.fa {
  color: #333 !important;
  font-size: 17px !important;
}

/* Two "buttons" at the bottom of the training log:
Commented out because the "Export to Excel" button has crap html
#training_configure {
  width: 255px !important;
  float: left !important;
  margin-right: 15px !important;
  margin-left: 105px !important;
}

*/

/** Add training form **/
form.form2016 select {
  -webkit-appearance: menulist-button !important;
  appearance: menulist-button !important;
}

form.form2016 input[type=button], form.form2016 input[type=submit] {
  cursor: pointer !important;
}

textarea[name=notes] {
  width: 100% !important;
}
#training_type {
  width: 80% !important;
}

.col-box0 {
  /* text-align: left !important; */
}

.col-box0 div {
  width: 49% !important;
  display: inline-block !important;
  padding: 0.5% 0 !important;
}
/*.infobox_standard .infobox_style3 > div {
  display: inline-block !important;
  width: 10% !important;
}

#distance, #unit {
  width: 20% !important;
}
*/
/* Calendar on the right of the training log */
#training_calendar .monthnumber {
  padding-left: 3px;
}

#training_calendar td.dateoutsiderange {
  border-color: #999 !important;
}

/*
#training_list tr.headers a {
    color: #333 !important;
}

#training_list tr.headers td, #training_months tr.headers td {
    height: 20px !important;
}

#training_summary tr.row.total td {
    background-color: #333 !important;
}

#training_summary tr.subtotalB td {
    background-color: #AEFFAF !important;
    color: #090 !important;
}

#training_summary tr.subtotalR td {
    background-color: #fbb !important;
    color: #c00 !important;
}

#training_summary tr.subtotalS td {
    background-color: #98B5FF !important;
    color: #00c !important;
}

#viewport {
    background-color: #ebebeb !important;
}

body {
    color: #333 !important;
}

div.blackbox {
    background-color: #555 !important;
}

div.sb {
    background-image: none !important;
    border-bottom: 1px solid #ddd !important;
}

div.sb_content {
    background-image: none !important;
}

div.training_log_element {
    border-style: none !important;
}

div.training_log_element tr.row td {
    background-color: transparent !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    height: 16px !important;
}

div.training_log_element tr.title td {
    background-image: none !important;
}

div.training_log_element tr:nth-child(even) {
    background-color: #f4f4f4 !important;
}

div.training_log_element tr:nth-child(odd) {
    background-color: #fff !important;
}

input.hasDatepicker {
    width: 55px !important;
}

li.B, li.B a {
    color: #090 !important;
}

li.C, li.C a {
    color: #333 !important;
}

li.R, li.R a {
    color: #c00 !important;
}

td.datecell.categoryMultiple.multiple_entries {
    border-color: #ddd !important;
}

td.sessiontype {
    color: #333 !important;
}

tr td h1 {
    color: #333 !important;
}

tr td table {
    border-style: none !important;
}

tr.headers {
    background-color: #f6f6f6 !important;
}

tr.headers td {
    background-color: #f6f6f6 !important;
    border-color: #d9d9d9 !important;
}
*/

/** Annoyances */
/* Recently online in footer - unnecessary graphics */
#recentlyonlineWrapper {
  display: none !important;
}
/* That annoying advert bar at the top of the page */
#fetchBanner {
  display: none !important;
}

/* Member of the month nomination */
#motm-nomination-box {
  display: none !important;
}

/* Amazon begging box */
#amazon-request-box {
  display: none !important;
}
